* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: normal;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.left {
}

.left img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.right {
  background-color: #fbfafa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(215, 215, 215, 0.25);
  width: 70%;
  height: 80%;
  padding: 5% 10%;
}
.form__header p {
  color: var(--black-04, #676767);
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #e3e1e1;
  margin: 5% 0;
  padding-bottom: 4%;
}
.first__group {
  display: flex;
  justify-content: space-between;
  color: var(--black-03, #414344);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
.icons {
  display: flex;
  align-items: center;
}
.icons i {
  margin-left: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.icons i:hover{
  cursor: pointer;
  color: #2d76e2;
    width: 32px;
  height: 32px;
}
.form__group {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  color: #414344;
  font-size: 18px;
}
.form__group input {
  height: 5vh;
  padding: 15px;
  margin: 25px 0;
  border-radius: 4px;
  border: 1px solid var(--light-grey-06, #e3e1e1);
  font-size: 18px;
}
.form__group placeholder {
  color: var(--light-grey-06, #e3e1e1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.checkbox__group {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px 0;
  color: var(--black-04, #676767);
  font-size: 18px;
  font-weight: 400;
}
.checkbox__group a {
  color: #2d76e2;
}


input[type="checkbox"] {
  display: none; 
}

.myCheck{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 26px;
  height: 26px;
  background-image: url("./img/checkbox-circle-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;

}
.checkbox_toggle {
  background-color: #0a55c6;
  width: 32px;
  height: 32px;
}

.btn {
  width: 100%;
  height: 5vh;
  border-radius: 4px;
  background: var(--blue-01, #0a55c6);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #053986;
}
